@using Corp.Cencosud.Supermercados.Corp.Cencosud.Supermercados.Sua.IWMS.Web.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="" content="charset=utf-8" />
    <title>@ViewBag.Title | CDs</title>
    <link href="@Url.Content("~/Content/ConteoStyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var ContextPath = '@Utils.ContextPath';
    </script>

</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)

</body>
</html>
